body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

input,
select,
textarea,
button {
    outline: none;
    font-family: 'Open Sans';
}

.page-container {
  display: flex;
  height: 100%;
  font-family: 'Open Sans';
  color: #666;
}

/* Login - Register */
.page-container.login-register {
  flex-direction: column;
  background-color: #FFA3A3;
}

.login-panel {
  width: 400px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
}

.login-panel input {
  background: #fff;
  border-radius: 7px;
  padding: 10px 25px;
  border: 0;
  width: 100%;
  font-size: 16px;
  margin-bottom: 15px;
}

.login-panel button.login {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #FFA3A3;
  border-bottom: solid 6px #ec7f7f;
}

.login-panel button.login:active {
  border-bottom: 0;
  margin-top: 6px;
}

.login-panel .register-wrapper {

}

.login-panel .register {
  text-align: center;
  width: 250px;
  font-size: 14px;
  color: #ec7f7f;
  margin: 15px auto 5px;
  cursor: pointer;
  border-bottom: solid 1px transparent;
}

.login-panel .register:hover {
  border-bottom: dashed 1px #ec7f7f;
}

/* App Left */

.page-container.app {
  display: none;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1;
}

.main {
  flex: initial;
  padding: 0 20px 0 70px;
}

.main h1 {
  font-weight: normal;
  line-height: 50px;
}

.main h3 {
  font-weight: 300;
  font-size: 18px;
}

.main .online-status {
  margin: 40px 0 30px;
}

.main .friend-list-row {
  display: flex;
}

.main .friend-item .avatar-key {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  height: 64px;
}

.main .friend-item {
  flex: 1;
  padding: 15px 20px 5px 20px;
  border-radius: 5px;
}

.main .friend-item.ui-state-hover {
  background: #fafafa;
}

.main .friend-item.active {
  background: #fafafa;
}

.main .friend-item .name {
  display: inline-block;
  line-height: 50px;
  height: 50px;
  margin-left: 50px;
  vertical-align: top;
}

.main .friend-item .name .placeholder {
  color: #ddd;
}

.main .friend-item .avatar {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  position: absolute;
  background-position: center;
  background-size: cover;
}

.main .friend-item .key {
  width: 24px;
  height: 22px;
  background: #e8e8e8;
  border-bottom: solid 4px #d5d5d5;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  position: absolute;
  bottom: 0;
  left: 13px;
}

.main .friend-item.active .key {
  bottom: -4px;
  height: 18px;
  border-bottom: 0;
}

/* App Right */

.sidebar {
  flex: initial;
  display: flex;
  flex-direction: column;
  width: 300px;
  background: #f7f7f5;
  padding: 20px 25px;
}

.sidebar .search-container {
  position: relative;
  width: 100%;
  flex: initial;
  height: 35px;
}

.sidebar .search-container input{
  border: solid 1px #ddd;
  color: #666;
  font-size: 13px;
  padding: 7px 5px 9px 35px;
  width: 100%;
  border-radius: 15px;
}

.sidebar .search-container:before {
  content: "\f4a5";
  font-family: "Ionicons";
  position: absolute;
  font-size: 18px;
  top: 7px;
  left: 12px;
  color: #ddd;
}

.sidebar .friend-list {
  overflow: auto;
  flex: 1;
  padding: 20px;
}

.sidebar ul.friend-status-group {
  margin-bottom: 20px;
}

.sidebar ul.friend-status-group h3 {
  font-size: 12px;
  margin-bottom: 15px;
  color: #ccc;
  text-transform: uppercase;
}

.sidebar ul.friend-status-group li {
  font-size: 13px;
  padding-left: 35px;
  position: relative;
  margin-bottom: 7px;
}

.sidebar ul.friend-status-group.callable li {
  cursor: pointer;
}

.sidebar ul.friend-status-group.callable li.ui-draggable-dragging {
  padding: 5px 20px;
  border-radius: 5px;
  background: rgba(220, 220, 220, 0.9);
}

.sidebar ul.friend-status-group li:not(.ui-draggable-dragging):before {
  height: 14px;
  width: 14px;
  content: " ";
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 3px;
  background: #ccc;
}

.sidebar ul.friend-status-group.online li:before {
  background: #C7EFCF;
}

.sidebar ul.friend-status-group.offline li:before {
  background: #D6D1B1;
}

.sidebar ul.friend-status-group.incoming li:before {
  background: #F0B67F
}

.sidebar ul.friend-status-group li i.ion {
  width: 24px;
  height: 22px;
  background: #e8e8e8;
  border-bottom: solid 4px #d5d5d5;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  position: relative;
  float: right;
  margin-left: 3px;
  bottom: 0;
  left: 13px;
}

.sidebar ul.friend-status-group li i.ion:hover {
  border-bottom: 0 !important;
  bottom: -4px;
  height: 18px;
}

.sidebar ul.friend-status-group li i.ion.accept {
  background: #70C1B3;
  border-bottom: solid 4px #60a69a;
  color: #fff;
}

.sidebar ul.friend-status-group li i.ion.decline {
  background: #F25F5C;
  border-bottom: solid 4px #d0504d;
  color: #fff;
}

/* Utilities */

button {
  padding: 10px 20px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  font-size: 12px;
}

/* Slideswitch */

.slideswitch {
    position: relative; width: 180px;
    -webkit-user-select:none;
}
.slideswitch-checkbox {
    display: none;
}
.slideswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFA3A3;
    border-radius: 7px;
}
.slideswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.slideswitch-inner:before, .slideswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 38px;
    padding: 0;
    line-height: 38px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.slideswitch-inner:before {
    content: "You're online";
    padding-left: 8px;
    background-color: #FFA3A3; color: #FFFFFF;
}
.slideswitch-inner:after {
    content: "You're offline";
    padding-right: 8px;
    background-color: rgba(255, 163, 163, 0.05);
    color: #999999;
    text-align: right;
}
.slideswitch-switch {
    display: block; width: 22px; height: 22px; margin: 3px;
    background: #FFFFFF;
    border: 2px solid #FFA3A3; border-radius: 7px;
    position: absolute; top: 6px; bottom: 0; right: 142px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.slideswitch-checkbox:checked + .slideswitch-label .slideswitch-inner {
    margin-left: 0;
}
.slideswitch-checkbox:checked + .slideswitch-label .slideswitch-switch {
    right: 8px;
}
